[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "pcsc-project2"]
	path = pcsc-project2
	url = https://github.com/thliebig/fparser.git
[submodule "fparser"]
	path = fparser
	url = https://github.com/thliebig/fparser.git
